Repository 10up/gutenberg-best-practices, changes with the labels that .github/labeler.yml gives for each.
All labels: Guide, Reference, Training

Update 04-patterns.md
  training/04-patterns.md
Labels: Training

Improve text underline position
  src/css/global-site.css
Labels: none

Fixed dropdown width issue
  src/css/homepage-search.css
Labels: none

Fixed dropdown list style issue
  src/css/homepage-search.css
Labels: none

update setup to docusaurus v3
  .nvmrc
  docusaurus.config.js
  package-lock.json
  package.json
  reference/02-Themes/block-template-parts.md
  training/06-inner-blocks.md
Labels: Training

update node version
  deploy-scripts/build.sh
Labels: none

Update block-transforms.md
  reference/03-Blocks/block-transforms.md
Labels: none

fix: update links paths
  training/01-overview.md
Labels: Training

fix: update link and fix ponctuation
  training/02-cta-lesson.md
Labels: Training

updates
  training/03-styles.md
  training/06-inner-blocks.md
Labels: Training

fix: syntaxe typos
  training/06-inner-blocks.md
Labels: Training

fix: remove link to non existent file
  training/01-overview.md
Labels: Training

fix: revert link update
  training/02-cta-lesson.md
Labels: Training

fix invalid format of callouts in md
  guides/choose-your-adventure.md
  guides/data-api.md
  guides/extend-a-core-block.md
  guides/including-frontend-javascript-with-a-block.md
  guides/using-wordpress-packages-on-the-frontend.md
  reference/01-Fundamentals/a-block.md
  reference/02-Themes/styles.md
  reference/03-Blocks/block-extensions.md
  reference/03-Blocks/block-locking.md
  reference/03-Blocks/block-patterns.md
  reference/03-Blocks/block-styles.md
  reference/03-Blocks/block-transforms.md
  reference/03-Blocks/block-updates.md
  reference/03-Blocks/block-variations.md
  reference/03-Blocks/custom-blocks.md
  training/02-cta-lesson.md
  training/03-styles.md
  training/04-patterns.md
  training/05-variations.md
  training/06-inner-blocks.md
  training/08-slot-fill.md
  training/index.md
Labels: Guide, Training

add addional info about settings sidebar tabs to block anatomy reference
  reference/01-Fundamentals/a-block.md
Labels: none

fix typo
  reference/02-Themes/block-template-parts.md
Labels: none

add section about font library to font reference
  reference/02-Themes/fonts.md
Labels: none

fix use latest version in shema example
  reference/02-Themes/theme-json.md
Labels: none

adding wp development mode constant to theme.json recommendation
  reference/02-Themes/theme-json.md
Labels: none

use new useSettings hook in documentation example
  reference/02-Themes/theme-json.md
Labels: none

Update data-api.md
  guides/data-api.md
Labels: Guide

add new interactivity api getting started guide
  guides/interactivity-api-getting-started.md
Labels: Guide

add state getter info
  guides/interactivity-api-getting-started.md
Labels: Guide

Update data-api.md to remove accidental double word
  guides/data-api.md
Labels: Guide

Update interactivity-api-getting-started.md
  guides/interactivity-api-getting-started.md
Labels: Guide

Update docusaurus to 3.5.0
  package-lock.json
  package.json
Labels: none

Increase content width, style updates to ToC'
  src/css/custom.css
  src/css/global-footer.css
  src/css/global-site.css
  src/css/toc.css
  src/css/variables.css
Labels: none

remove nesting from css
  src/css/global-footer.css
  src/css/toc.css
Labels: none

fix incorrect nest
  src/css/toc.css
Labels: none

update with recent changes
  src/css/homepage-search.css
Labels: none

Reorgainize and add pages for Synced Patterns, Overrides, and the Block Bindings API
  guides/choose-your-adventure.md
  reference/03-Blocks/block-locking.md
  reference/04-Patterns/block-bindings-api.md
  reference/04-Patterns/overview.md
  reference/04-Patterns/synced-pattern-overrides.md
  reference/04-Patterns/synced-patterns.md
  reference/05-custom-post-types.md
  reference/index.md
  static/img/block-pattern-add-new-modal.jpg
  static/img/block-pattern-bindings-finished-example.jpg
  static/img/block-pattern-bindings-post-meta-example.jpg
  static/img/block-pattern-call-to-action-example.jpg
  static/img/block-pattern-synced-edit-original.jpg
  static/img/block-pattern-synced-override-enabled.jpg
  training/04-patterns.md
Labels: Guide, Reference, Training

fix lint errors
  reference/04-Patterns/block-bindings-api.md
  reference/04-Patterns/synced-pattern-overrides.md
  reference/04-Patterns/synced-patterns.md
Labels: none

update broken links
  guides/choose-your-adventure.md
  training/04-patterns.md
Labels: Guide, Training

add reference dor block based navigations
  reference/02-Themes/navigation.md
Labels: none

Update reference/02-Themes/navigation.md
  reference/02-Themes/navigation.md
Labels: none

add link to training reference
  training/04-patterns.md
Labels: Training

update page title
  reference/04-Patterns/synced-patterns.md
Labels: none

add github link to synced theme patterns
  reference/04-Patterns/synced-patterns.md
Labels: none

add github link concerning contentOnly locked patterns
  reference/04-Patterns/synced-pattern-overrides.md
Labels: none

add orphan label caution
  reference/04-Patterns/block-bindings-api.md
Labels: none

.github/labeler.yml:

Guide:
- guides/*

Reference:
- reference/*

Training:
- training/*
