Repository 10up/gutenberg-best-practices, changes with the labels that .github/labeler.yml gives for each.
All labels: Guide, Reference, Training

.github/labeler.yml:

Guide:
- guides/*

Reference:
- reference/*

Training:
- training/*

use full text in github links for better a11y
  reference/04-Patterns/synced-pattern-overrides.md
  reference/04-Patterns/synced-patterns.md
Labels: none

add link to the correct spot
  reference/04-Patterns/overview.md
  training/04-patterns.md
Labels: Training

add a new guide for block based templates
  reference/02-Themes/block-based-templates.md
  reference/02-Themes/block-template-parts.md
  reference/02-Themes/fonts.md
  reference/02-Themes/navigation.md
Labels: none

add one more section
  reference/02-Themes/block-based-templates.md
Labels: none

update docusaurus
  package-lock.json
  package.json
Labels: none

fix make date in footer dynamic
  src/theme/Footer/index.js
Labels: none

restructure training into folders
  training/Block-Based-Themes/index.md
  training/Blocks/01-overview.md
  training/Blocks/02-cta-lesson.md
  training/Blocks/03-styles.md
  training/Blocks/04-patterns.md
  training/Blocks/05-variations.md
  training/Blocks/06-inner-blocks.md
  training/Blocks/07-rich-text-formats.md
  training/Blocks/08-slot-fill.md
  training/Blocks/09-build-your-own.md
  training/Blocks/index.md
  training/index.md
Labels: Training

fix relative paths
  training/Blocks/01-overview.md
  training/Blocks/04-patterns.md
  training/Blocks/05-variations.md
  training/Blocks/06-inner-blocks.md
Labels: none

fix use relative link
  training/Blocks/06-inner-blocks.md
Labels: none

update docusaurus
  package-lock.json
  package.json
Labels: none

add initial block based theme training overview page
  reference/02-Themes/block-based-templates.md
  static/img/atomic-blocks.png
  static/img/block-css-inlining.png
  static/img/css-file-names.png
  static/img/fse-template-hierarchy.png
  training/Block-Based-Themes/01-overview.md
Labels: none

fix link
  training/Block-Based-Themes/01-overview.md
Labels: none

fix sidebar padding
  src/css/global-sidebar.css
Labels: none

fix remove beta label
  src/pages/index.js
  src/pages/index.module.css
Labels: none

slight homepage tweaks
  src/pages/index.js
  src/pages/index.module.css
Labels: none

update title
  docusaurus.config.js
  src/pages/index.js
Labels: none

add some light fixes
  src/css/global-site.css
  training/Block-Based-Themes/01-overview.md
  training/Block-Based-Themes/index.md
  training/index.md
Labels: Training

add in progress label to block based theme course
  training/index.md
Labels: Training

fix add redirects for the training
  docusaurus.config.js
  package-lock.json
  package.json
Labels: none

typo
  reference/02-Themes/fonts.md
Labels: none

Add lesson on using the Block Scaffold command from 10up WP-Scaffold
  training/Blocks/10-Using the Block Scaffold command.md
Labels: none

Change multiple use of "This command..." to "The command"
  training/Blocks/10-Using the Block Scaffold command.md
Labels: none

Add information about the index.js file in block scaffolding lesson
  training/Blocks/10-Using the Block Scaffold command.md
Labels: none

Add tip for using workspace flag with Block Scaffold command
  training/Blocks/10-Using the Block Scaffold command.md
Labels: none

Clarify description of index.js file in block scaffolding lesson
  training/Blocks/10-Using the Block Scaffold command.md
Labels: none

Update theme links
  training/Blocks/01-overview.md
Labels: none

Remove reference to index.css (no longer in example block)
  training/Blocks/01-overview.md
Labels: none

Fix title attribute
  training/Blocks/01-overview.md
Labels: none

Use proper gtm:
  docusaurus.config.js
Labels: none

Fix ToC link hover
  src/css/toc.css
Labels: none

update node version
  .nvmrc
  package-lock.json
Labels: none

Correct next_tag class name query
  guides/html-tag-processor.md
Labels: Guide

Correct next_tag class name query
  guides/html-tag-processor.md
Labels: Guide

Add dark mode support
  docusaurus.config.js
  src/css/docs-content.css
  src/css/global-footer.css
  src/css/global-sidebar.css
  src/css/global-site.css
  src/css/homepage-components.css
  src/css/homepage-search.css
  src/css/toc.css
  src/css/variables.css
  src/pages/index.module.css
Labels: none

Rm comment
  src/css/variables.css
Labels: none

Fix logo and search icon for dark mode
  docusaurus.config.js
  src/css/variables.css
  src/theme/Footer/index.js
  static/img/10up-logo-full-white.svg
Labels: none

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/check-build.yml
Labels: none

Potential fix for code scanning alert no. 2: Workflow does not contain permissions
  .github/workflows/deploy.yml
Labels: none

Update deploy.yml
  .github/workflows/deploy.yml
Labels: none

Update deploy.yml
  .github/workflows/deploy.yml
Labels: none
