Repository 10up/gutenberg-best-practices, changes with the labels that .github/labeler.yml gives for each.
All labels: Guide, Reference, Training

.github/labeler.yml:

Guide:
- guides/*

Reference:
- reference/*

Training:
- training/*

add `lock` supports option to block supports reference
  static/img/block-lock-activated.png
Labels: none

fix replace supports spacing screenshot with 6.1 spacing controls
  static/img/supports-dimension.png
Labels: none

add locking
  reference/03-Blocks/block-supports.md
Labels: none

add block gap to supports
  reference/03-Blocks/block-supports.md
Labels: none

add section about creating custom block supports
  reference/03-Blocks/block-supports.md
Labels: none

add more detailed description about dynamic and static blocks
  reference/03-Blocks/custom-blocks.md
Labels: none

fix docusaurus showing the incorrect author and update time
  .github/workflows/deploy.yml
Labels: none

add subheading to custom post types reference
  reference/04-custom-post-types.md
Labels: Reference

refactor the inner blocks reference to make it easier to understand
  reference/03-Blocks/inner-blocks.md
Labels: none

Remove block library link from footer
  docusaurus.config.js
Labels: none

add info about filtering theme.json data using the new filters provided in WordPress 6.1
  reference/02-Themes/theme-json.md
Labels: none

add gtag to config
  docusaurus.config.js
Labels: none

add alt text
  guides/pitfals-style-api.md
Labels: Guide

add new guide about modifying the markup of other blocks
  guides/modifying-the-markup-of-a-core-block.md
Labels: Guide

remove todo
  reference/01-Fundamentals/the-editor.md
Labels: none

fix usage of invalid variable in edit.js file of lesson 1
  training/01-overview.md
Labels: Training

make lesson 1 more understandable
  training/01-overview.md
Labels: Training

fix highlighting
  training/01-overview.md
Labels: Training

Ensuring the title does not contain markdown
  guides/using-wordpress-packages-on-the-frontend.md
Labels: Guide

Capitalizing accordingly
  guides/using-wordpress-packages-on-the-frontend.md
Labels: Guide

Relaxing the warning around lodash
  guides/using-wordpress-packages-on-the-frontend.md
Labels: Guide

Minor fix
  guides/using-wordpress-packages-on-the-frontend.md
Labels: Guide

Recommending more packages
  guides/using-wordpress-packages-on-the-frontend.md
Labels: Guide

Updating api-fetch
  guides/using-wordpress-packages-on-the-frontend.md
Labels: Guide

Update block-patterns.md
  reference/03-Blocks/block-patterns.md
Labels: none

add reference about block template parts
  reference/02-Themes/block-template-parts.md
  reference/02-Themes/styles.md
  reference/02-Themes/theme-json.md
  static/img/block-template-part-editor.png
  static/img/block-template-parts.png
Labels: none

start working on spacing settings guide
  guides/handeling-block-spacing.md
Labels: Guide

add PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

fix translation section of guide
  guides/using-wordpress-packages-on-the-frontend.md
Labels: Guide

update the inner blocks lesson to use the hook approach
  training/06-inner-blocks.md
Labels: Training

add additional info about the wp scaffold setup
  training/index.md
Labels: Training

fix use correct domReady
  training/03-styles.md
Labels: Training

update docusaurus to version 2.2.0
  package-lock.json
  package.json
Labels: none

add a guide for handeling spacing between individual blocks
  guides/handeling-block-spacing.md
  guides/translating-javascript-code-in-wordpress.md
  static/img/design-styleguide-spacing-scale.png
  static/img/dimensions-panel.png
Labels: Guide

add info about making spacing sizes responsive
  guides/handeling-block-spacing.md
Labels: Guide

Fix typos in theme-json.md file
  reference/02-Themes/theme-json.md
Labels: none

Fixing typos in block-template-parts.md file
  reference/02-Themes/block-template-parts.md
Labels: none

fix command to change directory to wp-content
  training/index.md
Labels: Training

add a guide to showcase how patterns should best be used
  guides/when-and-how-should-block-patterns-be-used.md
  static/img/wordpress-org-homepage-redesign-sections--features.png
  static/img/wordpress-org-homepage-redesign-sections--tall.png
  static/img/wordpress-org-homepage-redesign-sections.png
Labels: Guide

update dependencies
  package-lock.json
  package.json
Labels: none
