Repository 10up/gutenberg-best-practices, changes with the labels that .github/labeler.yml gives for each.
All labels: Guide, Reference, Training

Create deploy.yml
  .github/workflows/deploy.yml
Labels: none

fix numbering of project setup in training
  training/index.md
Labels: Training

fix remove false link
  reference/03-Blocks/inner-blocks.md
Labels: none

Fix typo grammer and spacing
  guides/external-libraries.md
  guides/pitfals-style-api.md
  guides/using-wordpress-packages-on-the-frontend.md
  reference/01-Fundamentals/the-editor.md
  reference/02-Themes/styles.md
  reference/02-Themes/theme-json.md
  reference/03-Blocks/block-extensions.md
  reference/03-Blocks/block-locking.md
  reference/03-Blocks/block-supports.md
  reference/03-Blocks/block-updates.md
  training/02-cta-lesson.md
  training/03-styles.md
  training/04-patterns.md
  training/05-variations.md
  training/06-inner-blocks.md
  training/index.md
Labels: Guide, Training

update docusaurus to release version of 2.0
  package-lock.json
  package.json
Labels: none

Add Beta label to gutenberg best practice
  docusaurus.config.js
  src/pages/index.js
  src/pages/index.module.css
Labels: none

Fix typos and sentence formation
  reference/03-Blocks/block-updates.md
  reference/03-Blocks/custom-blocks.md
Labels: none

Styling improvements
  docusaurus.config.js
  src/css/global-footer.css
  src/css/global-site.css
  src/css/variables.css
  src/pages/index.js
  src/pages/index.module.css
  src/theme/Footer/index.js
Labels: none

Added SSH key to deploy action
  .github/workflows/deploy.yml
Labels: none

fix color contrast of beta badge on homepage
  src/pages/index.module.css
Labels: none

update inner blocks page
  training/06-inner-blocks.md
Labels: Training

fix remove distributor links in site footer
  src/theme/Footer/index.js
Labels: none

add initial base docs for font loading using theme.json
  reference/02-Themes/fonts.md
  reference/02-Themes/styles.md
  reference/02-Themes/theme-json.md
Labels: none

Update locking support to no longer be experimental
  reference/03-Blocks/block-locking.md
Labels: none

Update block-locking.md
  reference/03-Blocks/block-locking.md
Labels: none

Update block-locking.md
  reference/03-Blocks/block-locking.md
Labels: none

add internal label to internal resources
  docusaurus.config.js
Labels: none

add google site verification
  static/google761431273f6cb4b8.html
Labels: none

fix add alt text to image
  guides/pitfals-style-api.md
Labels: Guide

update docusaurus to latest version
  package-lock.json
  package.json
Labels: none

update dependencies
  package-lock.json
  package.json
Labels: none

fix remove invalid meta tag
  src/pages/index.js
Labels: none

add sections for page level, contextual, content only, and post type specific patterns
  reference/03-Blocks/block-patterns.md
  static/img/content-only-pattern-modify.png
  static/img/content-only-pattern.png
Labels: none

add reference to contextual block patterns article by wpengine
  reference/03-Blocks/block-patterns.md
Labels: none

Update readme.md
  readme.md
Labels: none

Fix typo
  src/pages/index.js
Labels: none

Update choose-your-adventure.md
  guides/choose-your-adventure.md
Labels: Guide

Update a-block.md
  reference/01-Fundamentals/a-block.md
Labels: none

Update styles.md
  reference/02-Themes/styles.md
Labels: none

Update theme-json.md
  reference/02-Themes/theme-json.md
Labels: none

Replace old image with typed font content
  static/img/what-to-build.png
Labels: none

Update block-extensions.md
  reference/03-Blocks/block-extensions.md
Labels: none

add info about content only locking for custom blocks
  reference/03-Blocks/block-patterns.md
Labels: none

Update block-updates.md
  reference/03-Blocks/block-updates.md
Labels: none

fix remove half empty scentance
  reference/03-Blocks/block-supports.md
Labels: none

Update custom-blocks.md
  reference/03-Blocks/custom-blocks.md
Labels: none

Update inner-blocks.md
  reference/03-Blocks/inner-blocks.md
Labels: none

Update index.md
  reference/index.md
Labels: Reference

add code example to content only patterns
  reference/03-Blocks/block-patterns.md
Labels: none

Add `ariaLabel` supports flag to supports reference
  reference/03-Blocks/block-supports.md
Labels: none

.github/labeler.yml:

Guide:
- guides/*

Reference:
- reference/*

Training:
- training/*
