Repository 10up/gutenberg-best-practices, changes with the labels that .github/labeler.yml gives for each.
All labels: Guide, Reference, Training

.github/labeler.yml:

Guide:
- guides/*

Reference:
- reference/*

Training:
- training/*

update copyright year
  src/theme/Footer/index.js
Labels: none

update frontend js guide with up to date info
  guides/including-frontend-javascript-with-a-block.md
Labels: Guide

update frontend js guide
  guides/including-frontend-javascript-with-a-block.md
Labels: Guide

fix remove unwanted empty guide
  guides/translating-javascript-code-in-wordpress.md
Labels: Guide

fix broken links in block supports reference
  reference/03-Blocks/block-supports.md
Labels: none

Fix casing of calls to JS addFilter
  reference/03-Blocks/block-extensions.md
Labels: none

Fix typo in block-extensions.md
  reference/03-Blocks/block-extensions.md
Labels: none

Fix additional typo
  reference/03-Blocks/block-extensions.md
Labels: none

Update broken GitHub reference
  training/01-overview.md
Labels: Training

generateInlineStyles for extending a core block
  guides/extend-a-core-block.md
Labels: Guide

Index Page Local Env Creation Details
  training/index.md
Labels: Training

Fix verbiage
  training/index.md
Labels: Training

ToolsPanel and ToolsPanelItem Examples
  guides/tools-panel.md
Labels: Guide

Update verbiage
  guides/tools-panel.md
Labels: Guide

HTMLTagProcessor Examples
  guides/html-tag-processor.md
Labels: Guide

Unregister Block Example
  reference/03-Blocks/block-locking.md
  reference/03-Blocks/block-supports.md
  reference/03-Blocks/block-transforms.md
  reference/03-Blocks/block-updates.md
  reference/03-Blocks/inner-blocks.md
  reference/03-Blocks/unregister-block.md
Labels: none

Variation example
  reference/03-Blocks/unregister-block.md
Labels: none

Missing return
  reference/03-Blocks/block-locking.md
Labels: none

Preface and new panel information
  guides/tools-panel.md
Labels: Guide

Update guides/html-tag-processor.md
  guides/html-tag-processor.md
Labels: Guide

Update guides/html-tag-processor.md
  guides/html-tag-processor.md
Labels: Guide

Remove padding example and set global attribute registration
  guides/html-tag-processor.md
Labels: Guide

Update reference/03-Blocks/unregister-block.md
  reference/03-Blocks/unregister-block.md
Labels: none

Update reference/03-Blocks/unregister-block.md
  reference/03-Blocks/unregister-block.md
Labels: none

Update reference/03-Blocks/unregister-block.md
  reference/03-Blocks/unregister-block.md
Labels: none

Update reference/03-Blocks/unregister-block.md
  reference/03-Blocks/unregister-block.md
Labels: none

Update reference/03-Blocks/unregister-block.md
  reference/03-Blocks/unregister-block.md
Labels: none

Update reference/03-Blocks/unregister-block.md
  reference/03-Blocks/unregister-block.md
Labels: none

Allow List
  reference/03-Blocks/unregister-block.md
Labels: none

Update reference/03-Blocks/unregister-block.md
  reference/03-Blocks/unregister-block.md
Labels: none

Register only to core/button
  guides/html-tag-processor.md
Labels: Guide

Update guides/tools-panel.md
  guides/tools-panel.md
Labels: Guide

Update caveats
  guides/tools-panel.md
Labels: Guide

fix use correct name of block locking option
  reference/03-Blocks/block-locking.md
Labels: none

update dependencies
  package-lock.json
  package.json
Labels: none

update styles reference for iframed editor in 6.3
  reference/02-Themes/styles.md
Labels: none

add section about useSetting.before hook
  reference/02-Themes/theme-json.md
Labels: none

Update 01-overview.md
  training/01-overview.md
Labels: Training

add arrow in unreg example, add ! in allowedEmbed example
  reference/03-Blocks/unregister-block.md
Labels: none

Update index.md
  guides/index.md
Labels: Guide
