Repository 10up/gutenberg-best-practices, pull requests merged in 2022-08, with the labels that each got.

#84 Update training page for lesson 6 (inner / nested blocks)
  training/06-inner-blocks.md
Labels: Training

#82 Fix typos and sentence formation
  reference/03-Blocks/block-updates.md
  reference/03-Blocks/custom-blocks.md
Labels: Enhancement

#86 fix remove distributor links in site footer
  src/theme/Footer/index.js
Labels: Bug
